/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
  min-height: 100vh;
}

.regular-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

.edit-header {
  height: 59px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 16px;
  gap: 21px;
}

main {
  max-width: 1140px;
  margin: auto;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

.nav-strong {
  font-weight: bold;
  cursor: pointer;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  padding-top: 60px; /*otherwise section margins collapse!*/
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.edit-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-link {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 30px;
  margin-bottom: 2em;
}

.edit-link i {
  margin-left: 32px;
}

.filters {
  height: 38px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 18px;
}

.category-button {
  min-width: 100px;
  padding: 0 15px;
  height: 36px;
  background-color: transparent;
  color: #1d6154;
  font-family: "Syne";
  font-weight: bold;
  font-size: 16px;
  border-radius: 60px;
  border: 1px #1d6154 solid;
}

.active-button {
  color: white;
  background-color: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 50px;
}

.gallery img {
  width: 100%;
}

#login {
  padding-top: 100px;
  padding-bottom: 150px;
}

#contact,
#login {
  width: 379px;
  margin: auto;
}
#contact > *,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form,
.modal form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input,
.modal input,
.modal select {
  height: 36px;
  font-size: 1em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 1em;
}

.modal select {
  height: 51px;
  background: transparent;
}

#contact label,
#login label,
.modal label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

#login form a {
  text-decoration: underline;
  align-self: center;
}

footer {
  background-color: white;
  height: 60px;
  width: 100%;
}

footer nav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em 7em;
}

footer nav ul li {
  font-size: 1em;
}

/*Modal starts here*/

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s both ease-in-out;
}

.modal-wrapper {
  overflow: auto;
  width: 580px;
  max-width: calc(100vw - 20px);
  height: 620px;
  max-height: calc(100vh - 20px);
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  animation: scaleUp 0.5s both 0.1s ease-in-out;
}

.modal[aria-hidden="true"] {
  animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
  animation-name: scaleDown;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/*Elements used in both modal views*/

.modal-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal .btn-close {
  margin-left: auto;
}

.modal button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.remove-works-view,
.add-works-view {
  box-sizing: border-box;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal h3 {
  font-size: 26px;
  padding: 18px 0;
}

.modal hr {
  width: 100%;
  color: #b3b3b3;
  margin-top: 42px;
}

.modal .modal-bottom-btn {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 237px;
  height: 36px;
  text-align: center;
  border-radius: 60px;
  margin-bottom: 1em;
  cursor: pointer;
}

/*First modal view elements*/

.bin-gallery {
  height: 380px;
  overflow: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 102px;
  grid-column-gap: 7px;
  grid-row-gap: 26px;
  padding-top: 27px;
}

.binned-item {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.bin-gallery img {
  width: 100%;
  cursor: inherit;
}

.modal .bin-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #ffffff;
  background-color: #000;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: inherit;
}

/*Second modal view elements*/

.add-picture-area {
  height: 130px;
  width: 420px;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #e8f1f6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-picture-area i {
  color: #b9c5cc;
}

.add-picture-area .add-picture {
  background-color: #b9c5cc;
  color: #306685;
  font-size: 14px;
  border-radius: 50px;
  width: 173px;
  height: 36px;
  cursor: pointer;
}

.add-picture-area .picture-details {
  color: #444444;
  font-size: 10px;
}

.picture-preview {
  max-height: 169px;
  max-width: 100%;
}
.add-works-view form {
  width: 420px;
  margin-top: 0;
}
.add-works-view label {
  font-size: 14px;
  color: #3d3d3d;
}

.add-works-view input {
  height: 51px;
}

.modal .disabled-btn {
  background: #a7a7a7;
}

/*Animation used on modal view change*/

.slideUp {
  animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(calc(100vh - 150px));
  }
  to {
    transform: translateY(0);
  }
}

/*Utilitary class to avoid manipulating display in html or javascript directly */
.no-display {
  display: none;
}
